# Stock Price Predicting using Python & Machine Learning.

This program uses an artificial recurrent neural network called Long Short Term Memory (LSTM) to predict the closing stock price of a corporation (Apple Inc.) using the past 60 day stock price.

In [115]:
# Import the labraries
import math
import pandas_datareader as web
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt

from sklearn.preprocessing import MinMaxScaler
from keras.models import Sequential
from keras.layers import Dense, LSTM
from matplotlib.pyplot import figure
 
plt.style.use('fivethirtyeight')

In [116]:
# Get  the stock quote
df = web.DataReader("AAPL", start='2000-01-01', end='2020-02-17', data_source='yahoo')
# Show the data
df

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2000-01-03,4.017857,3.631696,3.745536,3.997768,133949200.0,3.470226
2000-01-04,3.950893,3.613839,3.866071,3.660714,128094400.0,3.177650
2000-01-05,3.948661,3.678571,3.705357,3.714286,194580400.0,3.224152
2000-01-06,3.821429,3.392857,3.790179,3.392857,191993200.0,2.945139
2000-01-07,3.607143,3.410714,3.446429,3.553571,115183600.0,3.084645
...,...,...,...,...,...,...
2020-02-10,321.549988,313.850006,314.179993,321.549988,27337200.0,321.549988
2020-02-11,323.899994,318.709991,323.600006,319.609985,23580800.0,319.609985
2020-02-12,327.220001,321.470001,321.470001,327.200012,28432600.0,327.200012
2020-02-13,326.220001,323.350006,324.190002,324.869995,23686900.0,324.869995
2020-02-14,325.980011,322.850006,324.739990,324.950012,20028400.0,324.950012

In [117]:
# Get the number of rows and columns in the data set 
df.shape

(5062, 6)

In [123]:
# Visualize the closing price history
figure['var_diaria'.plt(figsize=(16,8))
plt.title('Close Price History')
plt.plot(df['Close'])
plt.xlabel('Date', fontsize=18)
plt.ylabel('Close Price USD ($)', fontsize=18)
plt.show()

SyntaxError: invalid syntax (<ipython-input-123-368d08565667>, line 3)

In [95]:
# Create a new dataframe with only the 'Close column
data = df.filter(['Close'])
# Convert the dataframe to a numpy array
dataset = data.values
#Get the number of rows to train the model on
training_data_len = math.ceil( len(dataset) * .8 )
training_data_len

3618

In [96]:
# Scale the data
scaler = MinMaxScaler(feature_range=(0,1))
scaled_data = scaler.fit_transform(dataset)
scaled_data

array([[0.00260184],
       [0.0026734 ],
       [0.00270151],
       ...,
       [0.98117882],
       [0.99803194],
       [1.        ]])

In [97]:
# Create the training dataset
# Create the scaled training dataset
train_data = scaled_data[0:training_data_len, :]
# Split the data inot x_train and y_train dataset
x_train=[]
y_train=[]
for i in range(60, len(train_data)):
    x_train.append(train_data[i-60:i,0])
    y_train.append(train_data[i,0])
    if i <= 61:
        print(x_train)
        print(y_train)
        print()

[array([0.00260184, 0.0026734 , 0.00270151, 0.0024996 , 0.00242548,
       0.00218012, 0.00207278, 0.00202677, 0.00205233, 0.0021929 ,
       0.00195777, 0.00239226, 0.00231303, 0.00222357, 0.00253027,
       0.00257883, 0.00258906, 0.00259417, 0.00254305, 0.00280375,
       0.00296477, 0.00288553, 0.00312578, 0.00315134, 0.00295199,
       0.00285742, 0.00278841, 0.00303122, 0.00296221, 0.00303888,
       0.0029341 , 0.00275519, 0.00242804, 0.00255839, 0.00214179,
       0.00245871, 0.00273218, 0.0026964 , 0.00225936, 0.0021929 ,
       0.00264017, 0.00285486, 0.00266062, 0.00279864, 0.00287787,
       0.00294943, 0.00305166, 0.00296477, 0.00290598, 0.00289065,
       0.00302355, 0.00296988, 0.00299799, 0.00301588, 0.00284975,
       0.00280375, 0.00261462, 0.00264273, 0.00264529, 0.0026964 ])]
[0.0028983138456882473]

[array([0.00260184, 0.0026734 , 0.00270151, 0.0024996 , 0.00242548,
       0.00218012, 0.00207278, 0.00202677, 0.00205233, 0.0021929 ,
       0.00195777, 0.00239226, 0.00231303, 0.00222357, 0.00253027,
       0.00257883, 0.00258906, 0.00259417, 0.00254305, 0.00280375,
       0.00296477, 0.00288553, 0.00312578, 0.00315134, 0.00295199,
       0.00285742, 0.00278841, 0.00303122, 0.00296221, 0.00303888,
       0.0029341 , 0.00275519, 0.00242804, 0.00255839, 0.00214179,
       0.00245871, 0.00273218, 0.0026964 , 0.00225936, 0.0021929 ,
       0.00264017, 0.00285486, 0.00266062, 0.00279864, 0.00287787,
       0.00294943, 0.00305166, 0.00296477, 0.00290598, 0.00289065,
       0.00302355, 0.00296988, 0.00299799, 0.00301588, 0.00284975,
       0.00280375, 0.00261462, 0.00264273, 0.00264529, 0.0026964 ]), array([0.0026734 , 0.00270151, 0.0024996 , 0.00242548, 0.00218012,
       0.00207278, 0.00202677, 0.00205233, 0.0021929 , 0.00195777,
       0.00239226, 0.00231303, 0.00222357, 0.00253027, 0.00257883,
       0.00258906, 0.00259417, 0.00254305, 0.00280375, 0.00296477,
       0.00288553, 0.00312578, 0.00315134, 0.00295199, 0.00285742,
       0.00278841, 0.00303122, 0.00296221, 0.00303888, 0.0029341 ,
       0.00275519, 0.00242804, 0.00255839, 0.00214179, 0.00245871,
       0.00273218, 0.0026964 , 0.00225936, 0.0021929 , 0.00264017,
       0.00285486, 0.00266062, 0.00279864, 0.00287787, 0.00294943,
       0.00305166, 0.00296477, 0.00290598, 0.00289065, 0.00302355,
       0.00296988, 0.00299799, 0.00301588, 0.00284975, 0.00280375,
       0.00261462, 0.00264273, 0.00264529, 0.0026964 , 0.00289831])]
[0.0028983138456882473, 0.002798636244331739]

In [98]:
# Convert the x_train and y_train to numpy arrays
x_train, y_train = np.array(x_train), np.array(y_train)

In [99]:
# Reshape the data
x_train = np.reshape(x_train, (x_train.shape[0], x_train.shape[1],1))
x_train.shape

(3558, 60, 1)

In [100]:
# Build the LSTM model

model = Sequential()
model.add(LSTM(50, return_sequences=True, input_shape= (x_train.shape[1],1)))
model.add(LSTM(50, return_sequences=False))
model.add(Dense(25))
model.add(Dense(1))

In [101]:
# Compile the model
model.compile(optimizer='adam', loss='mean_squared_error')

In [102]:
# Train the model
model.fit(x_train, y_train, batch_size=1, epochs=1)

Epoch 1/1
3558/3558 [==============================] - 89s 25ms/step - loss: 2.7805e-04

In [103]:
# Create the testing dataset
# Create a new array containing scaled values from index 1543 to 2002
test_data = scaled_data[training_data_len -60: , :]
# Create the data set x_test and y_test
x_test=[]
y_test = dataset[training_data_len:,:]
for i in range(60, len(test_data)):
    x_test.append(test_data[i-60:i, 0])

In [104]:
# Convert the data to a numpy array
x_test = np.array(x_test)

In [105]:
# Reshape the data
x_test = np.reshape(x_test, (x_test.shape[0], x_test.shape[1],1))

In [106]:
# Get the model predicted price value
predict = model.predict(x_test)
predict = scaler.inverse_transform(predict)
# Get the root mean squared error (RMSE)
rmse = np.sqrt(np.mean(((predict - y_test )**2)))
rmse

6.0356787953719815

In [107]:
# Plot the data
train = data[:training_data_len]
valid = data[training_data_len:]
valid['Predictions'] = predict
# Visualize the data
plt.figure(figsize=(16,8))
plt.title('Model')
plt.xlabel('Date', fontsize=18)
plt.ylabel('Close Price USD ($)', fontsize=18)
plt.plot(train['Close'])
plt.plot(valid[['Close', 'Predictions']])
plt.legend(['Train', 'Val', 'Predictions'], loc='lower right')
plt.show()

C:\Users\HP Omen\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

TypeError: 'tuple' object is not callable

In [108]:
# Show the valid and predicted prices
valid

                 Close  Predictions
Date
2016-05-17   93.489998    91.803398
2016-05-18   94.559998    92.002975
2016-05-19   94.199997    92.415993
2016-05-20   95.220001    92.817154
2016-05-23   96.430000    93.301224
...                ...          ...
2019-12-11  270.769989   256.392731
2019-12-12  271.459991   257.386780
2019-12-13  275.149994   258.409393
2019-12-16  279.859985   259.846283
2019-12-17  280.410004   261.927002

[904 rows x 2 columns]

In [111]:
# Get the quote
apple_quote = web.DataReader('AAPL', data_source='yahoo', start='2002-01-01', end='2020-01-17')
# Create a new dataframe
new_df = apple_quote.filter(['Close'])
# Get teh last 60 day closing price values and convert the dataframe to an array
last_60_days = new_df[-60:].values
# Scale the data to be values between 0 and 1
last_60_days_scaled = scaler.transform(last_60_days)
# Create an empty list
X_test = []
# Append teh past 60 days
X_test.append(last_60_days_scaled)
# Convert the X_test data set to a numpy array
X_test = np.array(X_test)
# Reshape the data
X_test = np.reshape(X_test, (X_test.shape[0], X_test.shape[1], 1))
# Get the predicted scaled price
pred_price = model.predict(X_test)
# Undo the scaling 
pred_price = scaler.inverse_transform(pred_price)
print(pred_price)

[[298.4627]]

In [112]:
# Get the quote
apple_quote2 = web.DataReader('AAPL', data_source='yahoo', start='2019-12-18', end='2019-12-18')
print(apple_quote2['Close'])

Date
2019-12-18    279.73999
Name: Close, dtype: float64